
@mixin orientacion ($posicionCol, $posicionRow) {
    .loginPage{
        display: grid;
        width: 100%;
        grid-template-columns: $posicionCol;
        grid-template-rows: $posicionRow;
        justify-items: center;
        align-items: center;
    }
}

@mixin orientaHist ($posicionCol,$posicionRow){
    .creaHist{
        display: grid;
        width: 100%;
        grid-template-columns: $posicionCol;
        grid-template-rows: $posicionRow;
        justify-items: center;
        align-items: center;
    }
}

@mixin orientacionEnvia ($posicionCol,$posicionRow){
    .envioMain{
        display: grid;
        width: 100%;
        grid-template-columns: $posicionCol;
        grid-template-rows: $posicionRow;
        justify-items: center;
        align-items: center;
    }
}



