.mainGrid {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.gridItem {
    display: flex;
    gap: .5rem;
    align-items:center;
    box-shadow: var(--box-shadow);
    border-radius: .75rem; 
    padding: .75rem 1rem;
    transition: 
        background-color .2s,
        transform .2s,
        box-shadow .2s;
}

.gridItem p{
    font-weight: 500;
    line-height: 2;
}

.gridItem:hover {
    background-color: var(--clr-main);
    transform: scale(1.05);
    box-shadow: var(--box-shadow-expand);
}

@media screen and (min-width: 400px){
    .mainGrid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr ;
    }
    .gridItem{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 0;
    }
    .grid-item i{
        font-size: 1.6rem;
    }
}

@media screen and (min-width:800px){
    .mainGrid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
